@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&family=Anton&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Nunito', sans-serif;
  --font-display: 'Anton', sans-serif;
}

body {
    background-color: #80a9de;
}

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.5s ease-in-out;
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(10px); }
        to { opacity: 1; transform: translateY(0); }
    }
}
